cmake_minimum_required(VERSION 3.28)
set(CMAKE_CXX_STANDARD 23)

set(ROOT_DIR path/to/root/of/Spark/checkout)
include(${ROOT_DIR}/CMake/Spark.cmake)

setup_spark_target(ProjectName false ${USE_EDITOR} path/to/optional/unity.conf)